h2 {
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
text-decoration: underline;
color:#342609;
}

h5 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: italic;
    color:#342609;
    }

.card-body{
    background-image: url("3.png"); 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
}

#table1{
    font-size: 1.2rem;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button{
    height: 2.5rem;
    border:2px solid rgba(0, 128, 111, 0.719);
    color: rgba(0, 128, 111, 0.719);
    font-weight: 700;
 
}

input{
    border-radius: 5px;
    height:2.5rem;
    border:2px solid rgba(0, 128, 111, 0.719);
    color: rgba(1, 88, 77, 0.774);
    font-weight: 700;
    
}

