.student_specification_before {
    display: none;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.student_specification {
    animation: show 500ms linear;
}

.itemOutFromList {
    opacity: 0;
    transition: opacity 1s !important;
}

* {
    text-shadow: 2px 3px 4px rgb(47, 73, 73);
}